body {
  margin: 0; /* Remove default body margin */
  font-size: large;
}

header {
  margin-bottom: 1rem; /* Add margin at the bottom */
    background: #413c3c;
    display: flex;
    justify-content: space-between;
    color :white;
    padding: 1rem 1rem;
}
.title {
  font-size: x-large;
  color: rgb(61, 58, 58);
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
  gap: 1.1rem;
}

h1 {
  text-align: center;
}

#show-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 2rem; /* Reduce the padding */
  list-style-type: none;
}

.interact {
  display: flex;
  align-items: center; /* Align comment and like button vertically */
  gap: 2rem;
  margin-top: 0.5rem; /* Add margin at the top */
}

.comments {
  background-color: #979ba1;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.like {
  color: #dc3545;
  font-size: 1.5rem;
  cursor: pointer;
  background: #ffebee;
  padding: 0.5rem; /* Adjust padding for like button */
  border-radius: 10px;
}

.likes {
  margin-left: 0.5rem;
}
